/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400, 700); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.container {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  width: 960px;
  /* text-align: center; */
  position: relative;
}

.header {
  background-image: url("../assets/capa-madmax2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* max-width: 100%; */
  /* height: 800px; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.header-menu {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  /* padding-top: 4px; */
  /* height: 400px; */
}

.header-menu .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-menu li {
  list-style: none;
  margin: 0 25px;
}

.header-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.header-menu li a {
  color: #fff;
  text-decoration: none;
  /* margin-right: 5px; */
  display: block;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

.header-menu li a:hover {
  color: #e4bb23;
}

.logo {
  border: 1px solid #000;
  width: 110px;
  height: 45px;
  margin-right: 175px;
}

.perfil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.photo-perfil {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 100px;
}

.name-perfil {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.jumbotron {
  width: 100%;
  /* max-width: 800px; */
  /* padding-left: 200px; */
}

.jumbotron-title {
  font-size: 6.5em;
  color: #fff;
  text-transform: uppercase;
}

.jumbotron-menu {
  /* margin: 0; */
  padding-left: 0;
  margin: 15px 0 30px;

  display: flex;
  list-style: none;
}

.jumbotron-menu li a {
  text-decoration: none;
  /* margin-right: 5px; */
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  margin-right: 15px;

  transition: all 0.2 ease-in-out;
}
.jumbotron-menu li a:hover {
  color: #e4bb23;
}

.jumbotron button {
  background-color: #e4bb23;
  border-radius: 50px;
  padding: 15px 50px;
  font-size: 1.5em;
  border: 1px;
}

.jumbotron button:hover {
  background-color: #bc9a1d;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.jumbotron button i {
  position: relative;
  left: 5px;
  font-size: 1.3em;
  /* margin-left: 4px; */
}

.jumbotron-information {
  padding: 20px 0;
  font-size: 1.4em;
  color: #fff;
}

.jumbotron-information p:last-child {
  color: #bc9a1d;
}

/* Fim do header */

/* Inicio da principal */

.menu-movies ul {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.menu-movies ul a {
  display: inline-block;
  color: #e4bb23;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 26px;
  transition: all 0.2s ease-in-out;
}

.menu-movies ul a:hover {
  /* border-bottom: 1px solid #e4bb23; */
  box-shadow: inset 0 -1px 0 #e4bb23;
}

/* Catalogo de filmes */
.movie-catalog {
  background-color: #f2f2f2;
  width: 100%;
}

.movie-card {
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  width: 250px;
  position: relative;
  height: auto;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.movie-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 100%;
}

.movie-list .movie {
  /* margin-right: 15px; */
}

.movie {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  width: 24%;
}

.movie-info {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.movie-list .movie:hover .movie-info {
  /* visibility: visible; */
  opacity: 1;
}

.movie-info h3 {
  font-size: 2em;
  color: #e4bb23;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.movie-info i {
  font-size: 5.3em;
  cursor: pointer;
  color: #fff;
}

.movie-info i:hover {
  color: #e4bb23;
}

.movie-synopsis {
  padding: 10px;
  width: 100%;
}

.movie-synopsis h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-synopsis a {
  text-decoration: none;
  color: #e4bb23;
  font-size: 1.2em;
}

.movie-synopsis a:hover {
  text-decoration: underline;
}

.votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.votes i {
  color: #808080;
  cursor: pointer;
}

.votes i:hover {
  color: #e74c3c;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  margin-top: 20px;
  padding: 5px;
  /* width: 100%; */
}

.social-icons {
  /* font-size: 1.2em; */
  font-size: 2.1em;
  color: #bababa;
}

.social-icons i {
  cursor: pointer;
  margin: 0 20px;
}

.social-icons .twitter-icon:hover {
  color: #55acee;
}

.social-icons .facebook-icon:hover {
  color: #3b5998;
}

.social-icons .instagram-icon:hover {
  color: #e95950;
}
